html,
body {
  padding: 0;
  margin: 0;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 2rem;
  background-color: rgb(31, 31, 31);
  color: white;
  min-height: 100vh;
}

.main {
  display: grid;
  justify-content: center;
  align-items: center;
}

.post {
  background-color: rgb(31, 31, 31);
  color: white;
  min-height: 100vh;
  padding: 1.5rem;
}